.main-game-container{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:black;
    color:white;
}

.innergamecontainer{
    width:500px;
    margin:auto;
    text-align:center;
}

.game-tile{
    width:26px;
}